*

body {
    background-color: white;
    font-family: Helvetica;
}

/* Container */
.content, .content2 {
    display: flex;
}

.content p {
    width: 74%;
    text-align: justify;
}

.content .header {
    flex: 1;
    display: inline-block;
    border-right: red solid 4px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.content .header h2 {
    margin-right: 10px;
    margin-bottom: 5px;
}

.content .text {
    flex: 4;
    display: inline-block;
    font-size: 16px;
}

.content .text2 {
    flex: 4;
    flex-direction: row;
    font-size: 16px;
}

.content .text2 p{
    text-decoration: underline;
    /* width: 100%;
    margin-left: 150px; */
}

.img {
    display: flex;
    /* justify-content: space-around; */
}

.bottomimages {
    display: flex;
}

.bottomimages img {
    align-items: center;
}

.main-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.main-header img {
    width: 150px;
    height: 50px;
    margin-right: 20px;
}

nav {
    display:flex;
    background-color: black;
    width: 28%;
    justify-content: center;
    border-radius: 25px;
}

#About-Me {
    scroll-behavior: smooth;
}

nav a {
    color: white;
    font-size: 17px;
    text-decoration: none;
    padding: 14px;
}

.photo {
    height: 100px;
    width: 100%;
    background-image: url("https://instagram.fphx1-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/142958604_218582513316043_536121030821207700_n.jpg?_nc_ht=instagram.fphx1-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=LEQWhLAWsssAX_5V0LD&tp=1&oh=be2c3d4808adae5d7408c06609dc0dfe&oe=605C59B6");
    background-size: cover;
    background-position: center;
}